body{
    font-family: tahoma;
    background-color: hsl(0, 0%, 92%);
}

#title{
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 225, 255);
}

#container{
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 400px;
    color: rgb(10, 10, 10);
    box-shadow: 7px 7px 15px hsla(0, 0%, 0%, 0.774);
    border-radius: 15px;
    text-align: center;
    padding: 40px 0px;
    margin-top: 150px;
}

#value{
    margin-top: 20px;
    width: 30%;
    height: 25px;
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 5px;
    padding: 10px;
    font-size: 1.8em;
    margin-bottom: 30px;
}

label{
    font-size: 1.4em;
    font-weight: bold;
}

#submit{
    margin-top: 20px;
    height: 45px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
}

#submit:hover{
    background-color: rgb(190, 0, 0);
}

#attempt{
    right: 0px;
}

@media screen and (max-width: 540px) {
    #container{
        margin-left: 0px;
        width: auto;
        margin-top: 0;
        padding: 40px 30px;
    }
}